body{
    background-color: wheat;
}

#pie-name{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    color: green;
    
}
.card{
    display: flex;
    border: 1px solid red;
    width: 30%;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 10px;

}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}